{% extends "ajax_templates/base.html" %}
{% block meta %}
<meta name="description" content="Информация о компании"/>
<meta name="keywords" content="Информация о компании"/>
<title>О компании</title>
{% endblock %}
{% block content %}
<div ui-view="" autoscroll="" class="ng-scope">
    <div class="container ng-scope">
        <div class="wide pt20"></div>
        <div class="wide pt20"></div>
        <div class="wide pt20"></div>
        <div class="wide pt20"></div>
        <div class="wide pt20"></div>
        <h1>О КОМПАНИИ</h1>
        <br> <br>
        Корпоративный университет «Маэстро» - эксперты в области эффективного бизнес – образования и развития
        предприятий. <br>
        <br>
        Программы университета направлены на развитие потенциала руководителя, решение стратегических и оперативных
        задач, поиска инновационных идей для роста эффективности бизнеса. <br>
        Мы предлагаем комплекс технологий, позволяющий не только идти в ногу со временем, профессионально оценивая
        каждый этап, но и смотреть на два шага вперед
        <br> <br>

        <h3>Наши преимущества </h3>
        • 560 авторских решений для развития бизнеса. <br>
        • Ведущими и консультантами выступают признанные эксперты мира. <br>
        • Собственный корпоративный университет. <br>
        • Успешный опыт реализации программ для госструктур и проведения международных стажировок. <br>
        • Профессиональное сообщество авторитетных топ- менеджеров и владельцев бизнеса. <br>
        • Лицензия Министерства образования и науки Самарской области № 5145 от 28 ноября 2013 г. <br>
        <br>

        <h3> Наши направления:</h3>
        <h4><a href="http://maestro.iamborsch.ru/trainings/">Тренинги для руководителей</a></h4>

        <p>Бизнес-тренинги, мастер-классы, конференции в областях: стратегическое развитие, управление персоналом и
            личная эффективность.</p>

        <p>В результате Вы получаете: прикладные технологии от ведущих тренеров, звезд бизнес-образования России и
            Европы, таких как: Глеб Архангельский, Радислав Гандапас, Френк Пьюселик, Филипп Гузенюк и др</p>
        <h4><a href="http://maestro.iamborsch.ru/risings/">Повышение квалификации</a></h4>

        <p>72 программы повышения квалификации в следующих направлениях: менеджмент, экономика и управление на
            предприятии, маркетинг и продажи, управление персоналом, логистика предприятия, финансы.</p>

        <p> В результате Вы получаете:
            повышение квалификации за короткий промежуток. Специализация подтверждается Удостоверением о повышении
            квалификации (Лицензия Министерства образования и науки Самарской области №5145 от 28 ноября 2013г).</p>
        <h4><a href="http://maestro.iamborsch.ru/solutions/">Решения для бизнеса</a></h4>

        <p>Комплекс эффективных консультационных услуг по внедрению технологий, адаптированных под Ваш бизнес:
            стратегический консалтинг, управленческий консалтинг, HR- консалтинг, личный коучинг.</p>

        <p>В результате Ваша компания получает:
            улучшенные производственные процессы, сниженные затраты, компетентных сотрудников, внедренные в компанию
            эффективные технологии. Выгода для компании: на каждый затраченный 1 руб. получает 63 руб. чистой
            прибыли.</p>
        <h4><a href="http://maestro.iamborsch.ru/competences/">Обучение сотрудников</a></h4>

        <p>Корпоративного обучения Ваших сотрудников, исходя из специфики и нюансов бизнеса, в таких областях как:
            оценка персонала, развитие управленческих компетенций, управление процессами и проектами, коучинг и
            наставничество, продажи и маркетинг, юриспруденция, финансы и бухгалтерия.</p>

        <p>В результате Ваша компания получает:
            результативную команду единомышленников, профессиональных сотрудников и эффективную систему управления.</p>
        <h4><a href="http://maestro.iamborsch.ru/events/">Деловые мероприятия</a></h4>

        <p>Организация и проведение для Ваших партнеров и сотрудников деловых мероприятий (конференции, форумы),
            интеллектуальных игр, бизнес – кэмпов</p>

        <p>В результате Ваша компания получает:
            новый формат профессиональных праздников, сплоченную команду, лояльных клиентов.</p>

        <p style="font-size:14px;">Для получения подробной информации свяжитесь со специалистами<br>
            по тел.: +7 (846) 212 03 03 или отправьте заявку по e-mail:
            <a href="mailto:info@emaestro.ru?subject=вопрос с сайта">info@emaestro.ru
            </a>
        </p>
    </div>
</div>
{% endblock %}
