{% extends "ajax_templates/base.html" %}
{% block meta %}
<meta name="description" content="Реквизиты"/>
<meta name="keywords" content="реквизиты"/>
<title>Реквизиты</title>
{% endblock %}
{% block content %}
<div ui-view="" autoscroll="" class="ng-scope"><p class="container ng-scope">

</p>

    <div class="wide pt20 ng-scope"></div>
    <div class="wide pt20 ng-scope"></div>
    <div class="wide pt20 ng-scope"></div>
    <div class="wide pt20 ng-scope"></div>
    <div class="wide pt20 ng-scope"></div>

    <h1 style="padding-left: 70px;" class="ng-scope">
        РЕКВИЗИТЫ
    </h1>

    <br class="ng-scope">
    <br class="ng-scope">

    <h4 style="padding-left: 70px;" class="ng-scope">
        Общество с ограниченной ответственностью «Маэстро» (ООО «Маэстро»)
    </h4>

    <p style="padding-left: 70px; font-size: 14px;" class="ng-scope">
        ИНН/КПП: 6311120460\631101001 ОГРН 1106311001719
        ОКВЭД 74.14, 67.13.4
        Р/счет: 40702810111030001659 <br>
        Банк получателя: Ф-л СРТ ПАО "Ханты-Мансийский банк Открытие" г.Саратов <br>
        БИК: 046311900 <br>
        к/сч 30101810663110000900<br>
        Юр. адрес: 443030, г. Самара, ул. Урицкого, 19<br>
        Почт. адрес: 443068, г. Самара, ул. Ново-Садовая 139, 15 офис<br>
        Директор Чернова Наталья Юрьевна<br>
        Действует на основании Устава<br>
        Тел: +7(846) 212-03-03<br>
    </p>

</div>
{% endblock %}
